@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fbf6f3;
  color: #5c5f30;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
  color: #5c5f30;
}